@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hotel 2<br />
    Praça Osório<br />
    <abbr title="Phone">P:</abbr>
    041999196527
</address>

<address>
    <strong>Suporte:</strong>   <a href="SuporteHotel2@gmail.com">Support@example.com</a><br />
    
</address>