@model Hotel2.Models.Hotel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Bem Vindo</h2>

<div id="sideBar" class="nav navbar-default nav-stacked">
   
    <ul>
        <li class="input-group input-group-lg">
            <span id="First" class="btn btn-default"><span id="collapseDown" class="glyphicon glyphicon-collapse-down"></span><span id="collapseUp" style="display:none;" class="glyphicon glyphicon-collapse-up"></span><span>Hotéis</span></span>
            <ul class="HotelTab">
                @{
                    foreach (Hotel2.Models.Hotel h in ViewBag.ListaHotel)
                    {
                        <li class="input-group input-group-lg"><span id="@h.Id" class="btn btn-default">@h.Name</span></li>
                    }
                }
                <li class="input-group input-group-lg" id="NewHotel"><span id="span" class="btn btn-default glyphicon glyphicon-plus">Adicionar hotel</span></li>
                
            </ul>
        </li>
        <li class="input-group input-group-lg">
            <span class="btn btn-default">Clientes</span>
        </li>
        <li class="input-group input-group-lg">
            <span class="btn btn-default">Produtos</span>
        </li>
    </ul>
    

</div>
<div id="PartialView" class="panel panel-default">
    <div class="panel panel-title"></div>
    <div class="panel panel-body">
        
        
            
            <ul>
                
                
            </ul>
        
    </div>
</div>