@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Hotel2</h1>
    <p class="lead">Faça o gerenciamento de seus hotéis de maneira rápida e fácil</p>
    <p><a href="#" class="btn btn-primary btn-lg" onclick="window.signin();">Entrar</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Hotel2 é uma poderosa ferramenta de gerenciamento de hotéis que utiliza as mais novas tecnologias para proporcionar uma melhor experiencia possivel.
        </p>

    </div>

</div>
